@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,100,600);

h1, h2, h3, h4, h5, h6{margin:0px; padding:0px;}
body { font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 13px; background-color:#262a33;}
.container {width: 100%;}
h1,.h1{font-size:35px;}
h2,.h2{font-size:31px;}
h3,.h3{font-size:27px;}
h4,.h4{font-size:23px;}
h5,.h5{font-size:19px;}
h6,.h6{font-size:15px;}



a {outline: none!important;}
a img {outline: none!important;}
img {border: 0!important;}

.wrapper{ width:100%;}
.login_page{ width:100%; position:absolute;}
.login_content {margin: 0 auto; padding: 20px 0;position: relative;text-align: center; transition: all 550ms ease-in-out 0s;width: 320px; margin-top:185px; border:2px solid #cccccc; border-radius:5px; padding:20px;background-color: #FFFFFF;}
.col-sm-10 { width: 100.333%;}
.login_heading{background-color:#2A3F54; color:#FFFFFF; margin-bottom:20px; font-size:20px; text-transform:uppercase;}
.lable_margin{margin-top:8px; float:left;}
.form-control { font-size: 12px;line-height: 1.42857;background:#FFFFFF;height: 30px; border-radius:0px;  box-shadow:none;}
.panel-heading .actions{float:right;}
.panel-heading .actions a{color: rgba(0, 0, 0, 0.3);
    margin-left: 6px;}
	
	
	
	